@import './variables.scss';


//////////////////////////////////////////// TEXTOS ///////////////////////////////

.c-txt-16{
    @include text-regular-16;
}
.c-txt-14{
    @include text-regular-14;
}
.c-txt-12{
    @include text-regular-12;
}

///////////////////// TXT - LIGHT /////////////////////
.c-txt-l-16{
    @include text-light-16;
}
.c-txt-l-14{
    @include text-light-14;
}
.c-txt-l-12{
    @include text-light-12;
}
.c-txt-l-10{
    @include text-light-10;
}




//////////////////////////////////////////// COMPONENTS AND MODIFYQUES //////////////////////////////////////////// 


//////////// Button ///////////

.c-button{
    @include text-regular-16;
    display: inline-block;
    border-radius: $border-radius-generic/2;
    padding: 10px 24px;
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba($color: $gray-second, $alpha: 0.4);

    &--small{
        padding: 5px 10px;
    }

    &--green{
        background: $green-main;
        color: white;
        border: 2px solid $green-main;

        &:hover{
            background: white;
            color: $green-main;
        }
    }

    &--flat{
        background: white;
        border: 1px solid $gray-second;

        &:hover{
            background: $blue-second;
            color: white;
            border-color: white;

            i{
                color: white
            }

        }
    }

}

//////////// description ///////////
.c-description-item{
    @include text-regular-16;
    text-align: center;
    width: 30%;

    &--right{

        border-right: 1px solid $gray-main;
    }
}

//////////// increment units ///////////
.c-increment{
    display: flex;
    align-items: center;
    
    &__button{
        i{
            font-size: 14px;
            color: $blue-second;
        }

        padding: 8px 4px;


    }

    &__text{
        @include text-light-14;
        margin: 0px 10px;
    }

}

//////////// CheckBox ///////////
input[type=checkbox] {
    display: none;


    &+label{
        display: flex;
        align-items: center;

        &:hover{
            cursor: pointer;
        }

        &::before{

            font-weight: bolder;
            content: '';
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 0;
            border-radius: $border-radius-generic/2;
            width: 20px;
            height: 20px;

            border: 2px solid $blue-second;
            transition: all 0.1s;
            margin-right: 5px;

        }
    }

    &:not(:checked) + label::before{

        color: $blue-second;
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);

    }

    &:checked + label::before{
        content: '✕';
        // content: '\2688';
        color: $blue-second;
        -webkit-transform: scale(1) rotate(180deg);
        transform: scale(1) rotate(180deg);

    }

}

//////////// Scroll ///////////
.c-scroll{

    &::-webkit-scrollbar {
        opacity: 0;
        width: 8px;
        height: 8px;
    }

    &:hover{
        &::-webkit-scrollbar {
            opacity: 1;
        }
        
        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 10px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: $blue-second;
            border-radius: 5px;
        }

    }

}

//////////// modal ///////////




////////////////////////////////////////////        BASICS              //////////////////////////////////////////// 


//////////// separation line ///////////
.c-separation-line{
    margin: 20px 0px;
    width: 100%;
    height: 1px;
    background:$blue-second ;
}
//////////// separation line ///////////
.c-color{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: inline-block;


    &--blue{
        background-color: $blue-second;
    }

    &--gold{
        background-color: goldenrod;
    }

    &--red{
        background-color: palevioletred;
    }

    &:hover{
        box-sizing: initial;
        transform: scale(1.2);
    }
}


.c-container{
    display: flex;

    .c-two-thirds{
        width: 66.66666666%;
    }

    .c-one-third{
        width: 33.33333333%;
    }

    .c-one-half{
        width: 50%;
    }

    .c-one-half{
        width: 50%;
    }

}

.c-txt-right{
    text-align: right;
}

.c-txt-left{
    text-align: left;
}