@import "./variables.scss";
@import "./config-generales.scss";

.footer{
    height: 200px;
    @include flex-colum;
    justify-content: space-evenly;
    align-items: center;
    background: $blue-first;

    &__icons{
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        @include icons;
    }
    &__links {
        width: 75%;
        @include text-light-16;
        text-align: left;
        .container__links{
            .link{
                color: white;
                margin-bottom: 20px;
            }
        }
       
        
    }
}

@media (min-width:425px){
    .footer{
        &__links{
            .container__links{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2,1fr);
                gap: 10px;
            }
        }
    }
}

@media (min-width:768px){
    .footer{
        flex-direction: row;
        justify-content: space-evenly;
    }
    
}

@media(min-width:1024px){
    .footer{
        &__icons{
            font-size: 3rem;
        }
    }
}