@import "./variables.scss";

.proceso{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &__title{
        @include h2;
        padding: 20px 0px 40px 0;
        width: 90%;
    }

    &__items{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;

    }

}

.proceso__container{
    display: flex;
    padding: 18px 0;
    max-width: 380px;
  

    .proceso-img{
        min-width: 60px;
        height: 60px;
        margin: 25px 10px;
        background:black;
    }

    .proceso-text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 10px;

        .text-title{
            @include h3;
            text-align: start;
            letter-spacing: -0.01em;
    
        }
        .text-text{
            @include text-light-14;
            text-align:start;
            letter-spacing: -0.01em;
        }
    }

    &--reverse{
        flex-direction: row-reverse;

        .proceso-text{
           padding: 0 10px 0 0;

           .text-title{
            text-align: end;
           }
           .text-text{
               text-align: end;
           }
        }

    }
}
