$font-montserrat:'Montserrat',sans-serif; 
$font-open-sans: 'Open Sans', sans-serif;

$size-title-h1: 2.8rem;


$border-radius-generic:10px;


//colores
$blue-second: #171731;
$green-main: #25BF92;
$gray-main:rgb(192, 192, 192);
$gray-second:rgb(214, 214, 214);

//url-imagenes

//letras
@mixin titles{
    font-family: $font-montserrat;
    font-weight: 700;
    text-align: center
}
@mixin text{
    font-family: $font-open-sans;
    text-align: center
}
@mixin h1{
    @include titles;
    font-size: 4rem;
}
@mixin h2 {
    @include titles;
    font-size: 2.8rem;    
}
@mixin h3{
    @include titles;
    font-size: 1.8rem;

}
@mixin h4 {
    @include titles;
    font-size: 1.6rem;
}

@mixin text-regular-28{
    @include text;
    font-size: 2.8rem;
    font-weight: 400;
}

@mixin text-bold-16 {
    @include text;
    font-size: 1.6rem;
    font-weight: bold;
}
@mixin text-semi-bold-16 {
    @include text;
    font-size: 1.6rem;
    font-weight:600;
    
}
@mixin text-regular-16 {
    @include text;
    font-size: 1.6rem;
    font-weight: 400;
}
@mixin text-light-16 {
    @include text;
    font-size: 1.6rem;
    font-weight:300;
    
}

@mixin text-regular-14 {
    @include text;
    font-size: 1.4rem;
    font-weight: 400;
}

@mixin text-regular-12 {
    @include text;
    font-size: 1.2rem;
    font-weight: 400;    
}

@mixin text-light-14 {
    @include text;
    font-size: 1.4rem;
    font-weight: 300;
}

@mixin text-light-12 {
    @include text;
    font-size: 1.2rem;
    font-weight: 300;  
}

@mixin text-light-10{
    @include text;
    font-size: 1.0rem;
    font-weight: 300;
}


@mixin flex-colum{
    display: flex;
    flex-direction: column;
}

