@import "../variables.scss";
@import "../components.scss";


.l-summary-products{
    box-shadow: $box-shadow;
    margin-bottom: 24px;
}

.menu-desplegable{
    
    &__header{
        width: 100%;
        background: $gray-second;
        box-shadow: $box-shadow;
        
        .menu-header{
            height: 58px;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            
        
            &__container{
                display: flex;
                align-items: center;
                
                .carrito{
                    font-size: 18px;
                    padding-right: 18px;
                }
                
                .text{
                    display: flex;
                    align-items: center;
                    
                    &__text{
                        @include text-regular-14;
                        letter-spacing: -0.05em;
                    }
                    
                    &__arrow{
                        font-size: 15px;
                        margin-left: 5px;
                    }
                }
            }
            
            &__total{
                @include text-light-16;
                margin-left: 30px;
            }
        }
        
        
    }
}

.menu-productos{
    min-width: 290px;
    width: 90%;
    margin: 0 auto;
    max-height: 0;
    transition: all 0.4s;
    overflow: hidden;
    
    
    >div{
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    .main__productos{
        margin-top: 10px;
        max-height: 330px;
        width: 100%;
        border-bottom: 1px solid $gray-main ;
        overflow: scroll;
        
        .producto{
            display: grid;
            grid-template-columns: 64px 1fr 85px;
            margin: 15px 0;
            column-gap: 15px;
            
            &__img{
                height: 64px;
                border-radius: 5px;
                box-shadow: $box-shadow ;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            &__description{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .name{
                    @include text-regular-16; 
                    margin-bottom: 5px;
                }
                .description{
                    @include text-light-14;
                }
            }

            &__total{
                @include text-light-16;
                justify-self: center;
                align-self: center;
            }
            
        }
    }
    
    &__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        .container__bottons{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 24px 0;
            border-bottom: 1px solid $gray-main;
            .botton-descuento{
                outline: none;
                border-radius: 5px;
                width:100%;
                margin-right: 5%;
                padding: 0 20px;
                border: 1px solid $gray-second;
            }
        }
        
        .container__description{
            padding-top: 24px;
            >div{
                display: flex;
                justify-content: space-between;
                .text{
                    @include text-regular-16;
                }
                .value{
                    @include text-light-16;
                    span{
                        font-size: 1.8rem;
                        font-weight: 600;
                    }
                }
            }
            
            width: 100%;
            display: flex;
            flex-direction: column;
            
        
            .subtotal{
                margin-bottom: 24px;
            }
            
            .envio{
                margin-bottom: 24px;
            }
            
            .total{
                padding-top: 24px;
                padding-bottom: 24px;
                border-top: 1px solid $gray-main ;
            }
        }
    }
}

.footer-seccion-page{
    width: 100%;
    background: $gray-second;
    
    &__text{
        @include text-light-12;
        text-align: center;
        padding: 20px 0;
    }
    
}


@media(min-width:768px){
    .menu-desplegable{
        &__header{
            .menu-header{
                max-width: 532px;
            }
        }
    }
    .menu-productos{
        max-width: 532px;
    }
}

@media(min-width:1024px){
    .app{
        background: $gray-third;
    }
    .section__page{
        display: flex;
        flex-direction: row-reverse;
        max-width: 1024px;
        margin:0 auto;
        background: white;
        box-shadow: $box-shadow;
    }
    
    .l-summary-products{
        width: 430px ;
        padding-top: 25px;
        margin-bottom: 0px;
        box-shadow: 0px 0px 5px -4px rgba(0, 0, 0, 0.25), -5px 0px 5px -4px rgba(0, 0, 0, 0.25),;
        
    }
    .menu-desplegable{
        display: none;
    }

    .menu-productos{
        width: 350px;
        max-height: none;
        visibility: visible;
        >div{
            opacity: 1;
        }
        
    }
}


.menu-productos--visibility{

    >div{ 
        opacity: 1;
        transition: opacity 0.3s 0.2s;
    }

    max-height:800px;
    transition: all 0.4s;
   
}
    
.icon--translate{
    transform: rotate(180deg);
}
