<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seccion de pago</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a67bf967aa.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <section class="menu-desplegable" >

            <div class="menu-desplegable__header">

                <div class="menu-header">

                    <div class="menu-header__container">

                        <div class="carrito"><i class="fas fa-shopping-basket"></i></div>
                        <div class="text">
                            <div class="text__text"> Mostrar resumen del pedido</div>
                            <div class="text__arrow"><i class="fas fa-chevron-down"></i></div>
                        </div> 

                    </div>
                    <p class="menu-header__total">$69.900,00</p>

                </div>
                
            </div>
        </section>

        <section class="menu-productos">

            <div class="main__productos">

                <div class="producto">
                    <div class="producto__img"><img src="../assets/prod.jpg" alt=""></div>

                    <div class="producto__description">
                        <div class="name">recipiezas</div>
                        <div class="description">6 und. x 2 Blanco</div>
                    </div>

                    <div class="producto__total">$26000</div>
                </div>

                <div class="producto">
                    <div class="producto__img"></div>

                    <div class="producto__description">
                        <div class="name">recipiezas</div>
                        <div class="description">6 und. x 2 Blanco</div>
                    </div>

                    <div class="producto__total">$26000</div>
                </div>

                <div class="producto">
                    <div class="producto__img"><img src="../assets/prod.jpg" alt=""></div>

                    <div class="producto__description">
                        <div class="name">recipiezas</div>
                        <div class="description">6 und. x 2 Blanco</div>
                    </div>

                    <div class="producto__total">$26000</div>
                </div>

                <div class="producto">
                    <div class="producto__img"></div>

                    <div class="producto__description">
                        <div class="name">recipiezas</div>
                        <div class="description">6 und. x 2 Blanco</div>
                    </div>

                    <div class="producto__total">$26000</div>
                </div>

                <div class="producto">
                    <div class="producto__img"></div>

                    <div class="producto__description">
                        <div class="name">recipiezas</div>
                        <div class="description">6 und. x 2 Blanco</div>
                    </div>

                    <div class="producto__total">$26000</div>
                </div>

                <div class="producto">
                    <div class="producto__img"><img src="../assets/prod.jpg" alt=""></div>

                    <div class="producto__description">
                        <div class="name">recipiezas</div>
                        <div class="description">6 und. x 2 Blanco</div>
                    </div>

                    <div class="producto__total">$26000</div>
                </div>

                <div class="producto">
                    <div class="producto__img"></div>

                    <div class="producto__description">
                        <div class="name">recipiezas</div>
                        <div class="description">6 und. x 2 Blanco</div>
                    </div>

                    <div class="producto__total">$26000</div>
                </div>

            </div>

            <div class="menu-productos__container">

                <div class="container__bottons">
                    <input class="botton-descuento" type="text" placeholder="Cupón o código de descuento">
                    <div class="c-button c-button--green">Usar</div>
                </div>

                <div class="container__description">
                    <div class="container subtotal ">
                        <div class="text">Sub Total</div>
                        <div class="value">$150000</div>
                    </div>

                    <div class="container envio ">
                        <div class="text">Envios</div>
                        <div class="value">$7000</div>
                    </div>

                    <div class=" container total">
                        <div class="text">Total</div>
                        <div class="value">cop <span>$150000</span></div>
                    </div>
                </div>

            </div>


        </section>




        <!-- <section class="footer-seccion-page">
            <p class="footer-seccion-page__text">Todos los derechos reservados</p>
        </section> -->

    </div>
</body>
</html>