<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/shop.css">
</head>
<body>
        <div class="shop">
            <div class="product">
                <div class="product__header-container">
                    <div class="product__title">${Set portavasos colorfull}</div>
                    <div class="product__id">${codigo: 0001}</div>
                    <div class="product__feedback-container">
                        <div class="product__feedbacks">${feedback} <span>(3)</span> </div>
                        <div class="produc__qualification"></div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>

