@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.c-txt-16 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.c-txt-14 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.c-txt-12 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.c-txt-l-16 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

.c-txt-l-14 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

.c-txt-l-12 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.c-txt-l-10 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.c-button {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 24px;
  cursor: pointer;
  box-shadow: 0px 3px 5px rgba(214, 214, 214, 0.4);
}
.c-button--small {
  padding: 5px 10px;
}
.c-button--green {
  background: #25BF92;
  color: white;
  border: 2px solid #25BF92;
}
.c-button--green:hover {
  background: white;
  color: #25BF92;
}
.c-button--flat {
  background: white;
  border: 1px solid #d6d6d6;
}
.c-button--flat:hover {
  background: #171731;
  color: white;
  border-color: white;
}
.c-button--flat:hover i {
  color: white;
}

.c-description-item {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  width: 30%;
}
.c-description-item--right {
  border-right: 1px solid silver;
}

.c-increment {
  display: flex;
  align-items: center;
}
.c-increment__button {
  padding: 8px 4px;
}
.c-increment__button i {
  font-size: 14px;
  color: #171731;
}
.c-increment__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0px 10px;
}

input[type=checkbox].c-checkbox {
  display: none;
}
input[type=checkbox].c-checkbox + label {
  display: flex;
  align-items: center;
}
input[type=checkbox].c-checkbox + label:hover {
  cursor: pointer;
}
input[type=checkbox].c-checkbox + label::before {
  font-weight: bolder;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  border: 2px solid #171731;
  transition: all 0.1s;
  margin-right: 5px;
}
input[type=checkbox].c-checkbox:not(:checked) + label::before {
  color: #171731;
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}
input[type=checkbox].c-checkbox:checked + label::before {
  content: "✕";
  color: #171731;
  -webkit-transform: scale(1) rotate(180deg);
  transform: scale(1) rotate(180deg);
}

.c-scroll::-webkit-scrollbar {
  opacity: 0;
  width: 8px;
  height: 8px;
}
.c-scroll:hover::-webkit-scrollbar {
  opacity: 1;
}
.c-scroll:hover::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
.c-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #171731;
  border-radius: 5px;
}

.c-separation-line {
  margin: 20px 0px;
  width: 100%;
  height: 1px;
  background: #171731;
}

.c-color {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: inline-block;
}
.c-color--blue {
  background-color: #171731;
}
.c-color--gold {
  background-color: goldenrod;
}
.c-color--red {
  background-color: palevioletred;
}
.c-color:hover {
  box-sizing: initial;
  transform: scale(1.2);
}

.c-container {
  display: flex;
}
.c-container .c-two-thirds {
  width: 66.66666666%;
}
.c-container .c-one-third {
  width: 33.33333333%;
}
.c-container .c-one-half {
  width: 50%;
}
.c-container .c-one-half {
  width: 50%;
}

.c-txt-right {
  text-align: right;
}

.c-txt-left {
  text-align: left;
}

.c-icon {
  cursor: pointer;
  font-size: 1.6rem;
  color: white;
}
.c-icon--small {
  font-size: 1.4rem;
}
.c-icon--big {
  font-size: 2.5rem;
}

.l-shop {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.l-shop .c-get-back {
  margin-top: 24px;
}

.c-product {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.c-product .l-product__header {
  width: 100%;
}
.c-product .l-product__header > * {
  margin-bottom: 5px;
}
.c-product__id {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}
.c-product__feedback {
  display: flex;
}
.c-product__feedback .c-feedback__txt {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
.c-product__feedback .c-feedback__qualification-img {
  background: url(../assets/qualification.png) center no-repeat;
  width: 109px;
  height: 17px;
  margin-left: 20px;
}
.c-product .l-product__representation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 10px 10px;
  border: 1px solid silver;
  border-radius: 10px;
  width: 100%;
}
.c-product .l-product__representation .c-product__img {
  width: 100%;
  max-width: 460px;
}
.c-product .l-product__representation .c-product__img > div {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 100%;
}
.c-product .l-product__representation .c-product__img > div img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.c-product .l-product__representation .c-product__img .c-product__price {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: goldenrod;
  padding: 5px;
  width: 68px;
  height: 68px;
  top: 0px;
  right: 0px;
  border-radius: 50%;
}
.c-product .l-product__representation .c-product__img .c-product__price p {
  align-self: flex-end;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: line-through;
}
.c-product .l-product__information {
  display: grid;
  justify-items: center;
  gap: 24px;
  margin-top: 20px;
  width: 100%;
  align-items: center;
}
.c-product .l-product__information .l-product__descriptions {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 450px;
}
.c-product .l-product__information .l-product__units {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 280px;
}
.c-product .l-product__information .l-product__colors {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: px 0px;
}
.c-product .l-product__information .l-product__colors .l-product__colors-items {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.c-product .l-product__information .l-product__colors .l-product__colors-items > * {
  margin-right: 7px;
}
.c-product .l-product__information .l-product__quantity-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 342px;
}
.c-product .l-product__information .l-product__quantity-total .l-product__quantity-increment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-product .l-product__information .l-product__quantity-total .l-product__quantity-increment > div:first-child {
  margin-right: 5px;
}
.c-product .l-product__information .l-product__quantity-total .l-product__value-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-product .l-product__information .l-product__quantity-total .l-product__value-total > div:first-child {
  margin-right: 5px;
}
.c-product .l-product__information .l-product__quantity-total .l-product__value-total .c-button {
  cursor: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.l-shooping-cart {
  height: 100vh;
  position: relative;
  background: #d6d6d6;
  max-width: 300px;
}
.l-shooping-cart .c-shooping__header {
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid silver;
}
.l-shooping-cart .c-shooping__header h3 {
  font-size: 2.5rem;
}
.l-shooping-cart .l-shooping__products {
  position: absolute;
  top: 71px;
  bottom: 224px;
  left: 0;
  right: 0;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 2px;
}
.l-shooping-cart .l-shooping__products .c-product-cart {
  display: grid;
  grid-template-columns: 80px auto;
  gap: 10px;
  height: 80px;
  margin: 20px 0px;
}
.l-shooping-cart .l-shooping__products .c-product-cart__img {
  width: 100%;
  height: 100%;
}
.l-shooping-cart .l-shooping__products .c-product-cart__img img {
  background: black;
  width: 100%;
  height: 100%;
}
.l-shooping-cart .l-shooping__products .c-product-cart .l-product-cart__information {
  display: grid;
  align-items: flex-end;
  grid-template: 20px 20px 1fr/repeat(2, 1fr);
}
.l-shooping-cart .l-shooping__products .c-product-cart .l-product-cart__information > div {
  grid-column: 1/span 2;
}
.l-shooping-cart .l-shooping__products .c-product-cart .l-product-cart__information > div:nth-last-child(2) {
  grid-column: 1/2;
}
.l-shooping-cart .l-shooping__products .c-product-cart .l-product-cart__information > div:last-child {
  align-self: center;
  justify-self: flex-end;
  grid-column: 2/3;
}
.l-shooping-cart .l-shooping__sell {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  margin: 0px 10px;
  padding: 10px 0px;
  border-top: 1px solid silver;
}
.l-shooping-cart .l-shooping__sell > div {
  margin-bottom: 12px;
}
.l-shooping-cart .l-shooping__sell .c-shooping__values > div {
  position: relative;
}
.l-shooping-cart .l-shooping__sell .c-shooping__values > div span {
  position: absolute;
  right: 0;
}
.l-shooping-cart .l-shooping__sell .c-shooping__text-condition {
  text-align: justify;
}
.l-shooping-cart .l-shooping__sell .c-button {
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 920px) {
  .c-product .l-product__information {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .c-product .l-product__information .l-product__descriptions {
    grid-column: 1/span 2;
    max-width: 500px;
  }
  .c-product .l-product__information .l-product__units {
    justify-self: right;
    max-width: 320px;
  }
  .c-product .l-product__information .l-product__colors {
    justify-self: left;
  }
  .c-product .l-product__information .l-product__quantity-total {
    justify-content: space-around;
    grid-column: 1/span 2;
  }
  .c-product .l-product__information > div:last-child {
    grid-column: 1/span 2;
  }
}
@media screen and (min-width: 768px) {
  .l-shooping-cart {
    max-width: 400px;
  }
  .l-shooping-cart .l-shooping__products {
    bottom: 206px;
    padding-left: 30px;
    padding-right: 22px;
  }
  .l-shooping-cart .l-shooping__sell {
    margin: 0px 30px;
  }
}
@media (min-width: 920px) {
  .c-product {
    display: grid;
    grid-template-columns: 480px 1fr;
    grid-template-rows: 90px 1fr;
    gap: 0px 20px;
  }
  .c-product .l-product__representation {
    margin: 0px;
    grid-row: 1/span 2;
  }
  .c-product .l-product__information {
    align-self: flex-start;
    height: 100%;
    margin-top: 0;
    gap: 30px;
  }
}

/*# sourceMappingURL=shop.css.map */
