@import "../variables.scss";

.proceso{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &__title{
        @include h2;
        text-align: center;
        padding: 20px 0px 22px 0;
        width: 90%;
    }

    &__items{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;

        .items-right{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .items-left{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }

}

.proceso__container{
    display: flex;
    padding: 18px 0;
    width: 100%;
    max-width: 410px;

  
    .proceso-img{
        background: url(../assets/proceso-img.png)center/cover no-repeat;
        min-width: 60px;
        height: 60px;
        margin: 25px 10px;
    }

    .proceso-text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 10px;

        .text-title{
            @include h3;
            text-align: start;
            letter-spacing: -0.01em;
    
        }
        .text-text{
            @include text-light-14;
            text-align:start;
            letter-spacing: -0.01em;
        }
    }

    &--reverse{
        flex-direction: row-reverse;

        .proceso-text{
           padding: 0 10px 0 0;

           .text-title{
            text-align: end;
           }
           .text-text{
               text-align: end;
           }
        }

    }
}


@media(min-width:768px){
    .proceso{
        &__title{
            font-size:3.5rem ;
        }

        &__items{
            width: 90%;
            .items-right{
                width: 50%;
                align-items: flex-end;
            }
            .items-left{
                width: 50%;
                align-items: flex-start;
            }
        }
          
    }

    .proceso__container{
        .proceso-text{
            .text-title{
                font-size: 2rem;
            }
            .text-text{
                font-size: 1.6rem;
            }
        }
    }

}

@media(min-width:1024px){
    .proceso{
        &__title{
            width: 80%;
        }

        &__items{
            width: 80%;
        }
    }
}