@import "../variables.scss";


.productos{
    display: flex;
    flex-direction: column;
    align-items: center; 
   

    &__title{
        @include h2;
    }

    &__contenedor{
        width: 90%;  
        
        .productos-carrusel{
            display: flex;
            overflow-x: scroll;
            padding: 40px 0px 30px 0;  
            scroll-behavior: smooth; 
        

            .producto{
                position: relative;
                min-width: 200px;
                max-width: 200px;
                height: 260px;
                background: blueviolet;
                margin: 0 5px;
                border-radius: 10px;
                overflow: hidden;
                cursor: pointer;
                transform-origin: center center;
                transition: 450ms all;

                &__img{
                    width: 100%;
                    height: 100%;

                    img{
                       width: 100%;
                       height: 100%;
                    }
                }
                
                &__details{
                    position: absolute;
                    top: 0;
                    bottom: 20px;
                    right: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: start;

                    .cont-details{
                        color: white;
                        @include h3;
                        padding:4px;
                        border-radius: 0 4px 4px 0;
                        margin-bottom: 3px;

                        &--precio{
                            background: #F5AF2E;
                        }
    
                        &--name{
                            background: #1F1F2F;
                        }
                    }

                }   
                
                &:first-child{
                    transform-origin: center left;
                }

                &:last-child{
                    transform-origin: center right;
                }

            }

           &:hover {
               .producto{
                   opacity: 0.5;
               }
               .producto:hover{
                   transform: scale(1.2);
                   opacity: 1;
                   z-index: 1;
               }

            
           }
        }
    }

    &__descripcion{
        @include text-regular-16;
        padding-top: 46px;
        margin-bottom: 50px;
        width: 90%;
    }
}