* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 54px;
  background-color: #18122D;
  padding: 0px 25px 0 20px;
}
.header__logo {
  background: url("../assets/logo.png") center/cover no-repeat;
  width: 120px;
  height: 47px;
}
.header__icons {
  color: white;
  font-size: 2.5rem;
}
.header__menu {
  position: absolute;
  top: 54px;
  left: 0px;
  padding: 0px 50px;
  width: 100%;
  max-height: 0;
  background: #171731;
  visibility: hidden;
  transition: all 1s;
  opacity: 0;
}

.visibility {
  visibility: visible;
  max-height: 208px;
  transition: all 1s;
  opacity: 1;
}

.menu-container li {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 1.8rem;
  padding: 10px 0;
}
.menu-container li:first-child {
  margin-top: 20px;
}
.menu-container li:last-child {
  margin-bottom: 20px;
}
.menu-container li > a {
  color: white;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 420px;
  padding: 76px 0 70px 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../assets/home-img.jpg") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.home__title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 4rem;
  width: 90%;
}
.home__text {
  color: black;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  width: 90%;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.8rem;
  padding-top: 40px;
  width: 90%;
}
.intro__text {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  padding-top: 50px;
  width: 90%;
}
.intro__img {
  margin: 62px 0 20px 0;
  width: 206px;
  height: 185px;
  background: url("../assets/intro-img.png") center/cover no-repeat;
}

.proceso {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proceso__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.8rem;
  padding: 20px 0px 40px 0;
  width: 90%;
}
.proceso__items {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}

.proceso__container {
  display: flex;
  padding: 18px 0;
  max-width: 380px;
}
.proceso__container .proceso-img {
  min-width: 60px;
  height: 60px;
  margin: 25px 10px;
  background: black;
}
.proceso__container .proceso-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
}
.proceso__container .proceso-text .text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 1.8rem;
  text-align: start;
  letter-spacing: -0.01em;
}
.proceso__container .proceso-text .text-text {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: start;
  letter-spacing: -0.01em;
}
.proceso__container--reverse {
  flex-direction: row-reverse;
}
.proceso__container--reverse .proceso-text {
  padding: 0 10px 0 0;
}
.proceso__container--reverse .proceso-text .text-title {
  text-align: end;
}
.proceso__container--reverse .proceso-text .text-text {
  text-align: end;
}

.productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: burlywood;
}
.productos__contenedor .productos-carrusel {
  display: flex;
}
.productos__contenedor .productos-carrusel .producto {
  width: 150px;
  height: 200px;
  background: blueviolet;
  margin: 0 5px;
  border-radius: 10px;
}
.productos__descripcion {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  padding-top: 46px;
  width: 90%;
}

/*# sourceMappingURL=style.css.map */
