@import '../variables.scss';


.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;

    background-color: $blue-first ;
    padding: 2px 25px 2px 20px;
    
    transition: all 0.5s;
    

    &__logo{
        background: url("../assets/logo.png") center/cover no-repeat;
        width:120px;
        height:47px;
    }

    &--shop{
        .header__menu{
            .menu-container{
                >li{
                    display: inline-block;
                    padding: 2px 10px;

                    >span{
                        display: none;
                    }
                }
            }

        }
    }

    &--home{
        position: fixed;

        .header__menu{
            position: absolute;
            top: 51px;
            left: 0px;
            padding: 0px 50px;
            width: 100%;
            max-height: 0;
            overflow: hidden;
            background:$blue-second;
            transition: all 0.4s;
            z-index: 1;
            
            .menu-container{
                margin-right: auto;
                margin: 10px 0px;
    
                li{
                    @include h3;
                    padding: 10px 0;
                    text-align: center;
                    text-shadow: 1px 1px 0.5px rgb(66, 65, 65);
            
                    >a{
                        color: white;
                    }
                }
            }
    
        }

        .menu--visibility{
            max-height: 250px;
            transition: all 0.4s;
        }
    }

}

@media(min-width:500px){
    .header{

        &--shop{
            .header__menu{
                .menu-container{
                    >li{

                        >span{
                            @include text-regular-18;
                            display: inline-block;
                        }
                    }
                }
    
            }
        }

    }
}

@media(min-width:768px){

    .header{ 

        padding: 7px 25px 7px 20px;

        &--home{
            background-color: transparent;
            padding: 20px 40px 20px 50px ;

            .c-icon{
                display: none;
            }
            
            .header__menu{
                display: flex;
                align-items: center;

                background-color: transparent;
                position: static;
                inset:  auto auto auto auto;
                padding: 0;
                overflow: visible;
                height: auto;
                width: auto;

                .menu-container{
                    margin: 0;
                    >li{
                        @include text-bold-16;
                        display: inline-block;
                        padding: 2px 15px;

                        &:last-child{
                            padding-right: 0px;
                        }
                    }

                }
            }
        }

        &--draw{
            background-color: $blue-second;
            padding: 7px 25px 7px 20px;
        }

        &__logo{
            min-width:160px;
            height: 60px;
        }


    }

}

@media(min-width:1024px){

    .header{
        &__logo{
            min-width:160px;
        }

        &--home{
            .header__menu{
                .menu-container{
                    >li{
                        font-size: 2rem;
                    }
                }
            }
        }

    }
}






