@import '../variables.scss';

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 54px;
    background-color: $blue-first ;
    padding: 0px 25px 0 20px;

    &__logo{
        background: url("../assets/logo.png") center/cover no-repeat;
        width:120px;
        height:47px;
    }

    &__menu{
        position: absolute;
        top: 54px;
        left: 0px;
        padding: 0px 50px;
        width: 100%;
        height: 0;
        background:$blue-second;
        transition: all 0.4s;
        overflow: hidden;
        z-index: 1;
        
        .menu-container{
            margin: 20px 0px;
        }

    }

}

.visibility{
    height: 208px;
    transition: all 0.4s;
}

.menu-container{
    li{
        @include h3;
        padding: 10px 0;

        >a{
            color: white;
        }
    }
 
}